{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="/download.jpeg" height="150" width="150"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div>
        {% if showForm %}
        <form action="/tweets" method="POST">
          <label for="name_field">Name:</label>
          <input name="name" type="text" id="name_field" />
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 350px;" />
          <input type="submit" value="Submit" />
        </form>
      {% endif %}
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="alf">
          <img class="alfimg" src="/download.jpeg" height="55" width="55">
        <h5 class="userTweet"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h5>
        <p class="tweet">{{tweet.content}}<p>
        </div>  
          {% endfor %}
      
    </div>
  </div>
  
{% endblock %}